{% extends 'base.html' %}
{% load static %}

<!-- Title -->
{% block title %}Chat{% endblock %}

<!-- User CSS -->
{% block css %}<link rel="stylesheet" href="{% static 'css/chat_index.css' %}">{% endblock %}

<!-- Main Content -->
{% block content %}
<div id="wrap">
    <div id="chatWrap">
        <div id="chatView"></div>
        <form id="sendForm" onsubmit="return false">
            <input type="text" id="message" placeholder="메시지를 입력하세요." autocomplete="off">
            <input type="submit" id="send" value="전송">
        </form>
    </div>
</div>
{% endblock %}

<!-- User JS -->
{% block js %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        function getName(names) {
            while (true) {
                const input = prompt("닉네임을 입력하세요.\n(2자 이상 6자 이하)");
                const uniqueCondition = names.indexOf(input) === -1;
                const lengthCondition = input && input.length <= 6 && input.length >= 2;

                if (!uniqueCondition) {
                    alert("중복된 닉네임입니다.")
                } else if (!lengthCondition) {
                    alert("조건을 지켜 입력해주세요.");
                } else {
                    return input;
                }
            }
        }

        function drawUserEnterAlert(name) {
            const html = `
                <div class="system">
                    ${name}님이 들어왔습니다.
                </div>`;

            $("#chatView").append(html).scrollTop($("#chatView")[0].scrollHeight);
        }

        function drawMessage(name, message) {
            const html = `
                <div class="chatLine">
                    <label class="nick">${name}</label>
                    <div class="chatLog">
                        ${message}
                    </div>
                </div>`;

            $("#chatView").append(html).scrollTop($("#chatView")[0].scrollHeight);
        }

        function drawMyMessage(message) {
            const html = `
                <div class="chatLine">
                    <div class="chatLog me">
                        ${message}
                    </div>
                </div>`;

            $("#chatView").append(html).scrollTop($("#chatView")[0].scrollHeight);
            $("#message").val("");
        }

        function drawUserExitAlert(name) {
            const html = `
                <div class="system">
                    ${name}님이 나갔습니다.
                </div>`;

            $("#chatView").append(html).scrollTop($("#chatView")[0].scrollHeight);
        }

        $(document).ready(() => {
            const ws = new WebSocket("ws://localhost:8000/chat");
            let name;

            ws.onopen = (e) => {
                const data = {
                    type: "names"
                };

                ws.send(JSON.stringify(data));
            };

            ws.onmessage = (e) => {
                const { type, data } = JSON.parse(e.data);

                if (type === "names") {
                    name = getName(data);

                    ws.send(JSON.stringify({
                        type: "connect",
                        data: {
                            name
                        }
                    }));
                    drawUserEnterAlert(name);
                } else if (type === "connect") {
                    drawUserEnterAlert(data.name);
                } else if (type === "message") {
                    drawMessage(data.name, data.message);
                } else if (type === 'disconnect') {
                    drawUserExitAlert(data.name);
                }
            };

            $("#sendForm").submit(() => {
                const message = $("#message").val();

                if (message.length > 0) {
                    const data = {
                        type: "message",
                        data: {
                            name,
                            message
                        }
                    };

                    ws.send(JSON.stringify(data));
                    drawMyMessage(message);
                }
            });
        });
    </script>
{% endblock %}
