{% extends 'base.html' %}
{% load static %}

{% block title %}예약하기{% endblock %}

<!-- User CSS -->
{% block css %}{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container border-bottom" style="padding-bottom: 15px;">
    <br>
    <div class="row">
        <!-- <div class="col-md-3"> -->
            <img class="img-fluid" src="{% static 'img/payment-complete-delivery.png' %}">
        <!-- </div> -->
    </div>
    <br>
</div>

<div class="container border-bottom" style="padding-bottom: 15px;">
    <br>
    <div class="row">
        <div class="col-3">
            <br>
            <p><strong>예약번호</strong></p>
            <p><strong>배달매장</strong></p>
            <p><strong>배달예정시간</strong></p>
        </div>
        <div class="col">
            <br>
            <p>6345323543</p>
            <p>{{ storeName }}</p>
            <p id="delivery-date"></p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding-bottom: 2rem; padding-top: 3rem;">
            <form action="{% url 'home' %}" method="get">
                <button class="btn btn-outline-secondary btn-block" type="submit">메인으로 돌아가기</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/reservation-date.js' %}"></script>
<script src="{% static 'js/A-working-Rating-option-for-Contact-Forms.js' %}"></script>
{% endblock %}