{% extends 'base.html' %}
{% load static %}

{% block title %}예약하기{% endblock %}

<!-- User CSS -->
{% block css %}{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container border-bottom" style="padding-bottom: 15px;">
    <br>
    <div style="border: 0; padding: 0;" class="col-md-3">
        <img class="img-fluid" src="{% static 'img/reservation-title.png' %}">
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            {% if mainImage != "null" %} <img class="img-fluid" src="{{ mainImage }}">
            {% else %} <img class="img-fluid" src="{% static 'img/noImage.png' %}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-3">
                    <p><strong>브랜드</strong></p>
                    <p><strong>제품명</strong></p>
                    <p><strong>가격</strong></p>
                    <p><strong>매장명</strong></p>
                    <p><strong>개수</strong></p>
                </div>
                <div class="col">
                    <p>{{ brand }}</p>
                    <p>{{ name }}<br></p>
                    <p>{{ price }}원</p>
                    <p>{{ storeName }}</p>
                    <p>1개</p>
                    <!-- 장바구니 아니고 개별임 -->
                    <!-- 장바구니일때 - 개수는? 장바구니가 만들어지면 받아오기 -->
                    <!-- {{ amount }} -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border-bottom" style="padding-bottom: 15px;">
    <br>
    <div class="row">
        <div class="col-3">
            <p><strong>총 가격</strong></p>
            <p><strong>방문 매장</strong></p>
            <p><strong>방문 기한</strong></p>
        </div>
        <div class="col">
            <p>{{ price }} 원</p>
            <!-- 장바구니일때 -->
            <!-- <p>{{ priceSum }}원</p> -->
            <!-- js를 통해 모든 price 더하는 연산 - 장바구니 나오면 할 것 -->
            <p>{{ storeName }}</p>
            <!-- 장바구니일 때: js를 통해 장바구니 매장 명 반복 -->
            <p id="reservation-date"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <p class="text-danger" style="padding-top: 0.5rem; padding-bottom: 2.5rem;">※ 기간 내 미방문 시 자동 예약취소됩니다!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding-bottom: 2rem;">
            <form action="{% url 'paymentReservation' %}" method="get">
                <div class="d-none"><label>brand</label><input name="brand" value="{{ brand }}" /></div>
                <div class="d-none"><label>name</label><input name="name" value="{{ name }}" /></div>
                <div class="d-none"><label>price</label><input name="price" value="{{ price }}" /></div>
                <div class="d-none"><label>storeName</label><input name="storeName" value="{{ storeName }}" /></div>
                <div class="d-none"><label>sell</label><input name="sell" value="{{ sell }}" /></div>
                <div class="d-none"><label>mainImage</label><input name="mainImage" value="{{ mainImage }}" /></div>
                <button class="btn btn-outline-secondary btn-block" type="submit">결제하기</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/reservation-date.js' %}"></script>
<script src="{% static 'reservation-title.png' %}"></script>
<script src="{% static 'js/A-working-Rating-option-for-Contact-Forms.js' %}"></script>
{% endblock %}